{% extends "base.html"  %}
{% block content %}
    <h2>About us</h2>

    <p>
    
        On April 26, 2941, Gandalf and the Dwarves arrived at Bag End. After a big tea and supper with Bilbo, they explained
        themselves and their intentions. Bilbo was at first reluctant to join the group but Gandalf rushed him out of the
        door.
        <br>
        <br>
        <b>Travels and encounters </b>
        <br>
        After traveling for some time and crossing the river Hoarwell, the company were caught and nearly killed and eaten
        by three hungry trolls. Gandalf returned in time to keep the monsters occupied until dawn when the light of the Sun
        turned them to stone. Recovering themselves, the Dwarves found that these Trolls had a cave nearby filled with
        stolen weapons, food, and a small treasure. Amongst the many weapons were Sting (which Bilbo armed himself with, and
        which he named after a battle with a giant spider), Orcrist (claimed by Thorin), and Glamdring (taken by Gandalf).
        Remarkably, all were ancient Elvish blades that had been forged several millennia earlier, in the First Age in
        Gondolin.
    
    </p>
    {% endblock %}